:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5516a2;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 2rem;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f4f4;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  margin: 0.5em 0 0 0;
}

p {
  margin: 0;
  color: #213547;
}

main {
  max-width: 600px;
  margin: 3rem auto;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
select,
button {
  padding: 0.5rem;
  font-size: 1rem;
}

#courseList {
  margin-top: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button {
  font-size: 1rem;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background 0.2s ease,
    color 0.2s ease;
  background-color: #4f54a7;
  color: white;
}

.button.primary:hover {
  background-color: #01448c;
}

.button.secondary {
  background-color: #e0e0e0;
  color: #333;
}

.button.secondary:hover {
  background-color: #cfcfcf;
}

#button-list {
  margin: 5px 0;
}

.status {
  height: 2rem;
  border-radius: 4px;
  font-weight: bold;
  max-width: 600px;
  /* background-color: rgb(247, 247, 247); */
  padding: 0.3em 1em 0 1em;
}

.status.info {
  background-color: #eef;
  color: #004080;
}

.status.warning {
  background-color: #fdc3a6;
  color: #9a3100;
}

.status.error {
  background-color: #ffbb9a;
  color: #900;
}

#course-form > div.button-row > button.button.primary {
  margin-top: 0.5rem;
}
